h2 {    
    color:brown;
    margin-left: 50px;
    }

#p100, #p102, #p101, #p10 {
    color:yellow;
}

#p5 {
    text-align: center;
    font-size: 175%;
}

h1 {
    height: 150px;
    font-size: 100px;
    border-width: 3px;
    border-color: brown;
    border-style: solid;
    text-align: center;
    color:brown;
    background-color: aquamarine;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    border-radius:50%;
}

img {
   margin-left: 80px;
   margin-right: 70px;
}

#p1 {
    width: 300px;
    height: 200px;    
}

#p2 {
    width: 300px;
    height: 200px;
}

#p3 {
    width: 300px;
    height: 200px;
}

p {
    color: black;
    padding: 10px;  
   }

    button:hover {
        color: brown;
        background-color: skyblue;
        cursor: pointer;        
    } 

button {
    width: 150px;
    color: brown;  
    background-color: aquamarine; 
    border: 3px inset;
    margin-top: 50px;
    margin-left:50px;
    margin-right:50px;
    border-color: brown;
}

.flex-container {
    display:flex;
    justify-content:center;
}

#box1 {    
    display: flex;
}

#box2, #box4 {
    display: flex;
    background-color: aquamarine;
    border-width: 3 px;
    border-style: solid;
    border-color: brown;
}

#box3 {
    display:flex;
}

   
#p4 {
    width: 400px;
    height: 300px;
}

#img8 {
    height:300px;
}

#img6 {
    width: 400px;
    height: 300px;
}

#img7 {
    width: 200px;
    height: 300px;
}

body {    
    background-color:black;
    }

#f1 {
    text-align: center;
    height: 50px;
}

#contact1 {
    display: flex;
}

#img9 {
    display: align-right;
}

#p10 {
    width: 500px;
    display : align-left;
    font-size: 150%;
}

#img15 {
    height:300px;
    width:600px;
}

#img16 {
    width:600px;
    height:300px;
}

#img17 {
    width:600px;
    height:300px;
}

#img18 {
    width:600px;
    height:300px;
}

#box10 {
    display:flex;
    border-style:solid;
    border-width:3px;
    border-color:brown;
}

#box11 {
    display:flex;
    border-style:solid;
    border-width:3px;
    border-color:brown;
    background-color:aquamarine;
 }

#box12 {
    display:flex;
    border-style:solid;
    border-color:brown;
    border-width:3px;
}

#box13 {
    display:flex;
    border-style:solid;
    border-color:brown;
    border-width:3px;
    background-color:aquamarine;    
}







   
