h2 {    
    color:brown;
    margin-left: 50px;
    }

#p100, #p102, #p101, #p10 {
    color:yellow;
}
   #p200 {
       margin-left:20px;
}

.footer {
    color:red;
}

#jeepjanuary, #daytona3 {
    display:flex;
    background-color:aquamarine;
    border-width: 3 px;
    border-style: solid;
    border-color: brown;
}

#jeep100 {
    width:300px;
    height:200px;
}

#jeep110 {
    width:300px;
    height:200px;
}

#jeep100p {
    color:red;
}

#p5 {
    text-align: center;
    font-size: 175%;
}

h1 {
    height: 150px;
    font-size: 100px;
    border-width: 3px;
    border-color: brown;
    border-style: solid;
    color:brown;
    background-color: aquamarine;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border-radius:50%;
    padding-top:25Px;
   
}

img {
   margin-left: 80px;
   margin-right: 80px;
   margin-top:40px;
   margin-bottom:40px;
   }

#p1, #p2, #p3 {
    width: 300px;
    height: 200px;
}

.thumbnail:hover {
    position:relative;
    width:700px;
    height:auto;
    display:block;
    z-index:999;
    }

#daytona1 {
    height:200px;
    width:200px;
}

p {
    color: black;
    margin-top:40px;
   }

    button:hover {
        color: brown;
        background-color: skyblue;
        cursor: pointer;        
    } 

button {
    width: 150px;
    color: brown;  
    background-color: aquamarine; 
    border: 1px inset;
    margin-top: 50px;
    margin-left:50px;
    margin-right:50px;
    border-color: brown;
    border-radius:45%;
    padding-top:10px;
    padding-bottom:10px;
}

.flex-container {
    display:flex;
    justify-content:center;  
    }

#box1 {    
    display: flex;
    justify-content:center;
}

#box2, #box4 {
    display: flex;
    background-color: aquamarine;
    border-width: 3 px;
    border-style: solid;
    border-color: brown;
}

#box3 {
    display:flex;
}

   
#p4 {
    width: 400px;
    height: 300px;
}

#img8 {
    height:300px;
}

#img6 {
    width: 400px;
    height: 300px;
}

#img7 {
    width: 200px;
    height: 300px;
}

body {    
    background-color:black;
    }

#f1 {
    text-align: center;
    height: 50px;
}

#contact1 {
    display: flex;
}

#img9 {
    display: align-right;
}

#p10 {
    width: 500px;
    display : align-left;
    font-size: 150%;
}

#img15 {
    height:300px;
    width:600px;
}

#img16 {
    width:600px;
    height:300px;
}

#img17 {
    width:600px;
    height:300px;
}

#img18 {
    width:600px;
    height:300px;
}

#box10 {
    display:flex;
    border-style:solid;
    border-width:3px;
    border-color:brown;
}

#box11 {
    display:flex;
    border-style:solid;
    border-width:3px;
    border-color:brown;
    background-color:aquamarine;
 }

#box12 {
    display:flex;
    border-style:solid;
    border-color:brown;
    border-width:3px;
}

#box13 {
    display:flex;
    border-style:solid;
    border-color:brown;
    border-width:3px;
    background-color:aquamarine;    
}
 
@media (max-width:750px) {
    .box {
        flex-direction:column;
        justify-content:center;
    }
    
    h1 {        
        font-size:50px;
        padding-top:10px;
    }
    
    h2 {        
        font-size:25px;
    }
    
    p {
        margin-left:10px;
        margin-right:10px;
}

       .flex-container {
           flex-direction:column;
    }
    
    button {
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}







   
